html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    background-color: #232629;
    color: white;
}

/* Navbar */
.navbar {
    background-color: #25262a;
    font-family: 'Bebas Neue';
}

.home {
    color: crimson !important;
}

.navbar-link {
    margin-left: 15px;
}

.navbar-link:hover {
    color: crimson !important;
    transition: all 0.5 ease;
}


/* Jumbotron */
.jumbotron {
    background-color: #25262a;
    height: 600px;
}

.handsome {
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
    border: 2px solid white;
}

.my-name {
    padding-top: 15px;
    font-family: 'Bebas Neue';
    color: white;
    letter-spacing: 10px;
}

.my-profession {
    font-family: 'Bebas Neue';
    color: white;
    font-size: 13px;
    letter-spacing: 5px;
    opacity: 0.9;
}

.jumbotron-contact {
    color: #9e9898;
    padding-left: 10px;
}

.jumbotron-contact:hover {
    color: white;
}

.scroll-down-animation-wrapper {
    padding-top: 25px;
}


/* About me^^ */
.about-me {
    background-color: #232629;
}

.about-me-heading {
    padding-top: 55px;
    font-family: 'Bebas Neue';
    color: crimson;
}

.my-stack {
    color: crimson;
}

.btn-see-my-project, .btn-download-cv {
    background-color: crimson;
}

.btn-see-my-project:hover {
    background-color: #c4173a;
}

.btn-download-cv:hover {
    background-color: #c4173a;
}

/* My experience */
.my-experience-heading {
    padding-top: 55px;
    font-family: 'Bebas Neue';
    color: crimson;
}

.my-experience-content {
    margin-top: 50px;
}

.my-education-heading, .my-work-experience {
    font-family: 'Bebas Neue';
    color: crimson;
}

.card-my-education, .card-my-work-experience {
    background-color: #25262a;
    box-shadow: 0px 0px 4px #4d4949;
    border: none;
    border-left: 2px solid crimson;
    border-right: 2px solid crimson;
}

.school, .work {
    font-family: 'Bebas Neue';
}

.school-name, .workplace {
    color: crimson;
}

.years-of-education, .years-of-work {
    color: crimson;
}


/* My projects */
.my-projects {
    background-color: #232629;
}

.my-projects-heading {
    padding-top: 55px;
    font-family: 'Bebas Neue';
    color: crimson;
}

.navbar-projects-link:hover {
    color: crimson;
}

.my-projects-navlink {
    color: white;
}


/* Say hello */
.say-hello {
    background-color: #232629;
}

.say-hello-heading {
    padding-top: 55px;
    font-family: 'Bebas Neue';
    color: crimson;
}

/* Footer */
footer {
    margin-top: 35px;
    background-color: #232629;
}

.footer-heart {
    color: #f01818;
    text-shadow: 0px 0px 55px #f01818;
}